block content 
  #footer
   .footer.social-media
    .social-icons
     a.fa.fa-facebook-square.fa-2x(href='')
     a.fa.fa-twitter.fa-2x(href='')
     a.fa.fa-google-plus-circle.fa-2x(href='')
     a.fa.fa-linkedin-square.fa-2x(href='')
     a.fa.fa-github.fa-2x(href='')
   .footer.copy
    p Copyright &copy;2016 Sam Okasha
