extends layout

block content
  .top-margin
  ul.errors
   if errors
    each error, i in errors
     li #{error.msg}
  != messages()
  h1.header-margin Login
  hr
  form#login(method='post', action='/login')
   input(type="text", name="username", placeholder="Enter Username")
   input(type="password", name="password", placeholder="Enter Password")
   input(type="submit", name="submit", value="Login")
  p#sign-up
      | Click 
      a(href='/register') here
      |  to register for an account
  hr
  br
  h1.header-margin Login Using Social Media
  hr
  a.social-login.facebook(href='/login/auth/facebook')
   i.fa.fa-facebook
   p Login with Facebook
  br
  a.social-login.google(href='/login/auth/google')
   i.fa.fa-google
   p Login with Google
  br
  br
  br
  include footer